swagger: "2.0"
info:
  version: "1.0.0"
  title: "Station API"
  contact:
    email: "jkrishnakumar.mca@gmail.com"
host: "com.kk.api"
basePath: "/api/v1"
schemes:
- "https"
- "http"
paths:
  /stations:
    post:
      tags:
      - "Station"
      summary: "Add a new Station"
      description: ""
      operationId: "addStation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "station"
        description: "Station object that needs to be added"
        required: true
        schema:
          $ref: "#/definitions/Station"
      responses:
        201:
          description: "Station Created"
        400:
          description: "Invalid Station object"
        409:
          description: "Already Station exists"
        500:
          description: "Internal Server error"
    get:
      tags:
      - "Station"
      summary: "List of Station"
      description: ""
      operationId: "listStation"
      produces:
      - "application/json"
      responses:
        200:
          description: "Successful listed stations matching the search criteria"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Station"
  /stations/findHdEnabled:          
    get:
      tags:
      - "Station"
      summary: "Find HD enabled Stations"
      description: ""
      operationId: "findHdStations"
      produces:
      - "application/json"
      responses:
        200:
          description: "Successful listed HD enabled stations"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Station"
        500:
          description: "Internal Server Error"
  /stations/findByName:
    get:
      tags:
      - "Station"
      summary: "Find Station by Name"
      description: ""
      operationId: "findStationByName"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "Name of the station that needs to be considered for filter"
        required: true
        type: "string"
      responses:
        200:
         description: "Sucessfully fetched Station object"
         schema:
            $ref: "#/definitions/Station"
        404:
          description: "Station not found"
        500:
          description: "Internal Server Error"
  /stations/{stationId}:
    get:
      tags:
      - "Station"
      summary: "Find Station by ID"
      description: ""
      operationId: "findStationById"
      produces:
      - "application/json"
      parameters:
      - name: "stationId"
        in: "path"
        description: "ID of the station that needs to be fetched"
        required: true
        type: "string"
        format: "uuid"
      responses:
        200:
         description: "Sucessfully Station object"
         schema:
            $ref: "#/definitions/Station"
        404:
          description: "Station not found"
        500:
          description: "Internal Server Error"
    put:
      tags:
      - "Station"
      summary: "Updates a Station"
      description: ""
      operationId: "updateStation"
      produces:
      - "application/json"
      parameters:
      - name: "stationId"
        in: "path"
        description: "ID of the station that needs to be updated"
        required: true
        type: "string"
        format: "uuid"
      - in: "body"
        name: "station"
        description: "Station object to be Updated"
        required: true
        schema:
          $ref: "#/definitions/Station"
      responses:
        200:
          description: "Sucessfully Updated Station object"
          schema:
            $ref: "#/definitions/Station"
        400:
          description: "Invalid Station object"
        404:
          description: "Station not found"
        500:
          description: "Internal Server Error"
    delete:
      tags:
      - "Station"
      summary: "Deletes a Station"
      description: ""
      operationId: "deleteStation"
      produces:
      - "application/json"
      parameters:
      - name: "stationId"
        in: "path"
        description: "ID of station that needs to be deleted"
        required: true
        type: "string"
        format: "uuid"
      - in: "body"
        name: "Station"
        description: "Station object to be deleted"
        required: true
        schema:
          $ref: "#/definitions/Station"  
      responses:
        204:
          description: "Station deleted"
        404:
          description: "Station not found"
        500:
          description: "Internal Server Error"
definitions:
  Station:
    type: "object"
    properties:
      stationId:
        type: "string"
        description: "Unique identifier for station Id"
        format: "uuid"
      name:
        type: "string"
        format: "string"
      hdEnabled:
        type: "boolean"
        default: false
      callSign:
        type: "string"
        format: "string"